html, body {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.priceListItem {
    width: 80%;
    color: red;
}

.priceListItem.button {
    width: 80%;
    color: green;
}